body{
margin: 0;
padding: 0;
}
.hero{
    height:80vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hero-left{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    line-height: 1;
}
.hero-left h2{
    font-size: 50px;
    margin-bottom: -60px;
    color: grey;
}

.hero-left p{
    font-stretch: condensed;
    font-weight: 900;
    color: #000000e6;
    font-size: 76px;
    line-height: 1.1;
}
.hero-latest-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -50px;
  background-color: rgb(255, 166, 0);
    width: 170px;

    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    }
    .arrow-btn{
        width: 15px;
    }
    
.rightimage{
    position: absolute;
    top: 10;
    right: 250px;
}
.hero-right{
    display: flex;

}
.hero-right img{
    width: 420px;
    margin-right: 70px;
    }
.text{
   height: 200px;
}    