.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 80%;

}
.shopcategory{
    
}
.shopcategory-indexshort{
    display: flex;
    margin: 0px 170px ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
      background-color: rgb(227, 227, 227);
      border:1px solid rgb(220, 220, 220);
}
.shopcategory-products{
    max-width: 80%;
    margin: 0 auto;
     display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
justify-content: center;
border-radius: 30px;


background: linear-gradient(180deg,#fde1ff,#99999922 60%);
}
.loadmore{
    font-weight: 800px;
    font-size: 15px;
   padding: 15px 20px;
    border-radius: 40px;
    border:1px solid rgb(220, 220, 220);
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    background-color: rgb(227, 227, 227);
}