/* Define the width for items */
.Item {
    width: 270px;
}

/* Style margins for paragraphs within items */
.Item p {
    margin: 6px 0px;
}
.Item img{
    width: 280px;
    border-radius: 20px;
    
}

/* Style for a container holding item prices */
.item-prices {
    display: flex;
    gap: 20px;
}

/* Style for new item prices */
.item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

/* Style for old item prices with a line-through */
.item-old-price {
    color: #727272;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

/* Add a hover effect to scale items when hovered */
.Item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}
