.relatedproducts h1{
    display: flex;
    justify-content: center;

}
.relatedproducts-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.relatedproducts hr{
    width: 10%;
    height: 6px;
    border-radius: 10px;
    background-color: black;
    margin-top: -20px;
    margin-bottom: 55px;
}
