.popular{
    margin-top: 6vh;
    display: flex;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);

    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.popular-item{
display: flex;
flex-direction: row;
gap: 20px;
margin-top: 50px;
}
.popular h1{
    
    
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
hr{
    margin-top: -17px;
    width: 150px;
    height: 3px;
    background: #171717;
    border-radius: 10px;
}